<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qm.dao.OrdertblMapper" >
  <resultMap id="BaseResultMap" type="com.qm.bean.Ordertbl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="TableID" property="tableid" jdbcType="INTEGER" />
    <result column="OrderTime" property="ordertime" jdbcType="VARCHAR" />
    <result column="UserID" property="userid" jdbcType="INTEGER" />
    <result column="personNum" property="personnum" jdbcType="INTEGER" />
    <result column="idPay" property="idpay" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, TableID, OrderTime, UserID, personNum, idPay, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ordertbl
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ordertbl
    where TableID = #{TableID,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.qm.bean.Ordertbl" >
    insert into ordertbl (id, TableID, OrderTime, 
      UserID, personNum, idPay, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{tableid,jdbcType=INTEGER}, #{ordertime,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{personnum,jdbcType=INTEGER}, #{idpay,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qm.bean.Ordertbl" >
    insert into ordertbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tableid != null" >
        TableID,
      </if>
      <if test="ordertime != null" >
        OrderTime,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="personnum != null" >
        personNum,
      </if>
      <if test="idpay != null" >
        idPay,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tableid != null" >
        #{tableid,jdbcType=INTEGER},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="personnum != null" >
        #{personnum,jdbcType=INTEGER},
      </if>
      <if test="idpay != null" >
        #{idpay,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qm.bean.Ordertbl" >
    update ordertbl
    <set >
      <if test="tableid != null" >
        TableID = #{tableid,jdbcType=INTEGER},
      </if>
      <if test="ordertime != null" >
        OrderTime = #{ordertime,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        UserID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="personnum != null" >
        personNum = #{personnum,jdbcType=INTEGER},
      </if>
      <if test="idpay != null" >
        idPay = #{idpay,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qm.bean.Ordertbl" >
    update ordertbl
    set TableID = #{tableid,jdbcType=INTEGER},
      OrderTime = #{ordertime,jdbcType=VARCHAR},
      UserID = #{userid,jdbcType=INTEGER},
      personNum = #{personnum,jdbcType=INTEGER},
      idPay = #{idpay,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>